<section id="hero" class="hero">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 mb-4">
        <img src="../../../../assets/images/0.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-7">
        <h1>دکتر احسان گراوند</h1>
        <h2>متخصص جراحی لثه و ایمپلنت</h2>
        <h3>دارای بورد تخصصی عضو هیئت علمی دانشگاه</h3>
        <a href="#about" class="btn-get-started scrollto">اطلاعات بیشتر</a>
      </div>
    </div>
  </div>
</section>