<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center mb-5 pt-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2>خدمات ما باعث لبخند شما می شود</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-dental-care-1"></span>
          </div>
          <div class="media-body p-3 mt-3">
            <h3 class="heading">پر کردن و ترمیم دندان</h3>
            <p>
              از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-dental-care"></span>
          </div>
          <div class="media-body p-3 mt-3">
            <h3 class="heading">جرم گیری دندان</h3>
            <p>
              از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-tooth-with-braces"></span>
          </div>
          <div class="media-body p-3 mt-3">
            <h3 class="heading">ایمپلنت دندان</h3>
            <p>
              از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-anesthesia"></span>
          </div>
          <div class="media-body p-3 mt-3">
            <h3 class="heading">بی حس کننده مدرن</h3>
            <p>
              از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>