<section class="about container-fluid">
  <div class="row ">
    <div class="col-lg-6 img" style="background-image: url(../../../../assets/images/clinic3.jpg);">
    </div>
    <div class="col-lg-6">
      <div class="about-wrap">
        <div class="heading-section heading-section-white mb-5 ftco-animate">
          <h2 class="mb-2">دارای بورد تخصصی عضو هیئت علمی</h2>
          <p>
            کلینیک دکتر احسان گراوند بااستفاده از جدیدترین تجهیزات و بهترین متریال های روز دنیا آماده ارایه خدمت به شما
            عزیزان می باشد. </p>
        </div>
        <div class="list-services d-flex ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="pi pi-info"></span>
          </div>
          <div class="text">
            <h3>جراحی دندان و جراحی لثه و ایمپلنت
            </h3>
            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
        <div class="list-services d-flex ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="pi pi-info"></span>
          </div>
          <div class="text">
            <h3>استفاده از جدیدترین روش های درمانی</h3>
            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
        <div class="list-services d-flex ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="pi pi-info"></span>
          </div>
          <div class="text">
            <h3>خدمات عصب کشی و جرم گیری و ترمیم</h3>
            <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا
              فقط به مشتری یا کار فرما نشان دهند</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>